[submodule "helm-microservice"]
	path = helm-microservice
	url = ./helm-microservice
[submodule "httpbin-app"]
	path = httpbin-app
	url = ./httpbin-app
[submodule "kafkabin"]
	path = kafkabin
	url = ./kafkabin
[submodule "ivro"]
	path = ivro
	url = ./ivro
